* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  font-family: Georgia, "Times New Roman", serif;
}

.hdr {
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: center;
  color: lime;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lime;
  border: 1px solid limegreen;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px;
}

.logo {
  text-decoration: none;
  font-size: 45px;
  margin-left: 20px;
  background-color: lime;
  color: black;
}

/* -------------------------------
    gestion des liens de la Navbar
   ------------------------------- */

.navig ul {
  list-style: none;
}

.navig ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.navig ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  background-color: lime;
  font-weight: 500;
  transition: 0.5s;
}

.navig ul li a:hover {
  color: white;
}

/* -----------------------------
    Button en generale "config"
   ----------------------------- */

button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
  padding: 12px 25px;
}

/* -----------------------------
    btn de la Navbar "Connexion"
   ----------------------------- */
.btn {
  margin-right: 20px;
  background-color: #2e7d32;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(13, 42, 60);
}

/* -------------------------------
    Hero section
   ------------------------------*/

.Hero {
  display: flex;
}

.h1-fontome {
  color: lime;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 15px;
}

.ate {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 50px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.662);
  border-radius: 25px;

  color: white;
  text-align: center;
}
.ate h2 {
  color: greenyellow;
  padding-bottom: 25px;
}

.ate a {
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
  padding: 12px 25px;
  background-color: #2e7d32;
  color: white;
  margin-top: 25px;
}

.im {
  flex: 1;
  height: 450px;
}

/* ---------------------------------------
    Zone MAIN ATTENTION 
    -------------------------------------*/

/* ---------------------------------------
    SECTION DU  Main
    -------------------------------------*/
.sct {
  background-color: rgb(88, 250, 55);
  padding: 45px;
  margin: 45px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid rgb(198, 206, 212);
  box-shadow: 0 4px 10px rgba(210, 57, 57, 0.08);
  display: grid;
  justify-content: space-evenly;

  grid-template-areas:
    "item1 item6 item2"
    "item3 item4 item5";

  gap: 30px 62px;
}

.sct-wrapper-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------------------------
    Différnet article
    -------------------------------------*/
.item1 {
  grid-area: item1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.item2 {
  grid-area: item2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.item3 {
  grid-area: item3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 25px;
}

.item4 {
  grid-area: item4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.item4 img {
  width: 100%;
}

.item5 {
  grid-area: item5;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 25px;
}

h1 {
  text-align: center;
  font-size: 90px;
  line-height: 1;
  font-weight: 700;
  grid-area: item6;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
  background-color: white;
  /* width: 320px; */

  background: white;

  border: 1px solid #dddddd;

  border-radius: 10px;

  padding: 20px;

  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
}

/* --------------------------------------
    gestion image des articles
    -------------------------------------*/
.im-item {
  /* width: 100%; */
  height: 400px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  margin-bottom: 18px;
}

/* ----------------------
    FOOTER Du site 
    ---------------------*/
footer {
  background-color: #53b984;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/* ---------------------------------
    responsive  au niveau du hearder
   ---------------------------------*/
@media screen and (max-width: 1120px) {
  .hdr {
    height: max-content;
  }

  .Navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .logo {
    font-size: 20px;
    margin-left: 0;
  }

  .btn {
    margin-right: 0;
  }

  .navig ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .Hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ate {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .im {
    order: -1;
    flex: 1;
    width: 90%;
    padding: 20px;
  }
}

/* ---------------------------------
    responsive  au niveau du Main
   ---------------------------------*/
@media screen and (max-width: 1235px) {
  .sct {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  h1 {
    font-size: 45px;
    padding: 15px;
  }
}
